.user {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url(https://media3.giphy.com/media/3o7TKzyIPAiMR1pErK/200w.webp?cid=ecf05e47ehpuj9lobtp9jfuz7ekk8pkmxyps3xjrj1ei7mig&rid=200w.webp&ct=g); */
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: none;
  transform: matrix3d(23);
  background-position: center;
}
.userBox {
  width: 70vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  border-radius: 5px;
}
.formSection {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}
.enterT {
  width: 30%;
  background-color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-family: fantasy;
  font-size: bold;
}
.enterBtn {
  width: 50%;
  height: 30px;
  padding: 10px;
  border: none;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: fantasy;
}
.enterBtn:hover {
  background-color: rgb(159, 128, 194);
  color: white;
}
.submitBtn {
  text-align: center;
  margin: 10px;
}
#textField {
  width: 100%;
  height: 30px;
  border: none;
  padding: 5px;
  margin-top: 20px;
  border-radius: 5px;
  border-bottom: solid 1px gray;
  background-color: rgb(223, 223, 238);
}
